/* ka re gajodhar singh */


/* Order details and cart */
.order-details {
  z-index: 1;
  position: fixed;
  margin-top:10px;
  display:inline-flex;
  background-color: #fff;
  bottom:0;
  height:60px;
  width:60%;
}

.item-count {
  line-height: 1.5;
  font-size:2rem;
  font-weight: 500;
}

.total-price {
  margin-left: 500px;
  line-height: 1.5;
  font-size:2rem;
  font-weight: 500;
}

.continuebtn{
  color : #fff;
  background-color: rgb(237, 90, 107);
  margin-left: 20px;
  width : 150px;
  height : 50px;
}

.toggle-full-cart {
  margin-bottom:0;
  background-color: #fff;
  overflow: auto;
  font-size: 1.6rem;
  position:fixed;
  bottom:60px;
  left:20%;
  right:20%;
  height : 200px;
}
.toggle-div {
  display:inline-flex;
  width : 100%;
}
.toggle-itemname{
  width : 75%;
}
.toggle-itemprice {
  margin-left: 50px;
  margin-right : 20px;
}
hr {
  border : 1px solid rgb(232, 232, 232);
}

.toggle-item-span {
    position : relative;
    display:inline-flex;
    width : 90px;
    height : 40px;
    font-size: 1.7rem;
    font-weight: 600;
    padding-left :20px;
    color:#fff;
    background-color: rgb(237, 90, 107);
    border : 1.2px solid rgb(237, 90, 107);
    border-radius: 10px;
}
.toggle-add-btn{
  position:absolute;
  right:5px;
  background-color: rgb(237, 90, 107);
  border:none;
  border-radius: 10px;
  margin-top : 6px;
}
.toggle-item-count {
  align-items: center;
  position :relative;
  margin-left : 17px;
  margin-top : 7px;
}
.toggle-remove-btn{
  position:absolute;
  left:5px;
  background-color: rgb(237, 90, 107);
  border:none;
  border-radius: 10px;
  margin-top : 6px;
}
