.res-container{
  background-color: #fff;
  display: inline-block;
  position :relative;
  border-radius: 10px;
  width: 28%;
  margin: 10px 45px 20px 12px;
}
.res-container:hover{
  transform : scale(1.03);
  -webkit-transition: transform 0.5s ease-in-out;
  box-shadow: 0px 0px 2px 2px rgb(240, 240, 240);
}
